@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
    --animate-slide-from-bottom: slideInFromBottom 0.3s ease-out;
    @keyframes slideInFromBottom {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}